.rotate {
        -webkit-transform-origin: 50% 58%;
        transform-origin:50% 58%;
        -ms-transform-origin:50% 58%; /* IE 9 */
        -webkit-animation: spin .7s infinite linear;
        -moz-animation: spin .7s infinite linear;
        -o-animation: spin .7s infinite linear;
        animation: spin .7s infinite linear;
}
@-moz-keyframes spin {
    from {
    -moz-transform: rotate(0deg);
    }
    to {
    -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
    -webkit-transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
