<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- IIS7+ mapping -->
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation targetFramework="4.5" debug="true">
      
    <buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders></compilation>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <!-- IIS6 mapping required for Mono -->
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>

  <system.web.webPages.razor>
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
        
        
        
        
        
        
        
        <add namespace="EmailContacts.ServiceModel" />
        <add namespace="EmailContacts.ServiceModel.Types" />
      <add namespace="System" /><add namespace="ServiceStack" /><add namespace="ServiceStack.Html" /><add namespace="ServiceStack.Razor" /><add namespace="ServiceStack.Text" /><add namespace="ServiceStack.OrmLite" /><add namespace="EmailContacts" /></namespaces>
    </pages>

    
  <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc" /></system.web.webPages.razor>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
<appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings></configuration>
